<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>{{ config.SITE_NAME }}</title>
</head>
<body>
<div class="page">
	<div class="header">
		{% include 'header.html' %}
	</div>
	{% if errors %}
	<div class="errors">
	{% for error in errors %}
		<p class="error">
			{{ error }}
		</p>

	{% endfor %}
	</div>
{% endif %}
	<div class="content">
		{% block body %}{% endblock %}
	</div>
</div>
<footer class="footer">
    <nav>
        <a href="{{ url_for('routes.about') }}">About</a>
    </nav>
	<div style="margin-top: 0.5em; font-size: 0.9em; color: #888;">
        &copy; {{ config.SITE_NAME }} {{ current_year if current_year else "2025" }}. All rights reserved.
    </div>
</footer>
</body>


</html>
