{% extends 'layout.html' %}
{% block body %}
{{ path|safe}}

<div class="actualpost">
	<div class="actualposttitle">
		<a href="/viewpost?post={{ post.id }}">{{post.title}}</a>
		<div class="postposter" {% if post.user.admin %} style="color: red;" {% endif %}>
			{{ post.user.username }}
		</div>
		<div class="posttime">
			{{ post.get_time_string() }}
		</div>
	</div>
	<div class="postcontent">
		{{ rendered_content | embed_media }}
	</div>
	{% if current_user.is_authenticated and (current_user.id == post.user.id or current_user.admin) %}
    <form action="/delete_post" method="POST" style="display:inline;">
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <input type="submit" value="Delete Post" onclick="return confirm('Are you sure you want to delete this post?');">
    </form>
	{% endif %}
	<div class="postreactions" style="margin-top: 1em;">
		<b>Reactions:</b>
		{% set emojis = ['👍', '❤️', '😂', '😮', '😢', '👎'] %}
		{% for emoji in emojis %}
			{% set count = post.reactions|selectattr('emoji', 'equalto', emoji)|list|length %}
			<button class="reaction-btn" data-emoji="{{ emoji }}" data-postid="{{ post.id }}">
				{{ emoji }} <span class="reaction-count">{{ count }}</span>
			</button>
		{% endfor %}
	</div>
</div>
<div class="addcomment" id="addcomment">
	<form action="/action_comment?post={{ post.id }}" method="POST">
		<textarea class="inputbox varwidth" rows="6" name="content"></textarea><br>
		<input class="inputbox" style="margin-bottom: 1%;" type="submit" value="Comment">
	</form>
</div>
<div style="text-align: center;">

	

	{% if current_user.is_authenticated %}
	<input type="button" id="displayaddcomment" onclick="toggle()" value="Add a comment">

	{% else %}
	<a href="/loginform">Login or register to make a comment</a>
	{% endif %}
</div>
{%if comments%}
<div class="comments">
{% for comment in comments %}
	
	<div class="comment">
		<div class="commentuser">
			(<span  {% if comment.user.admin %} style="color: red;" {% endif %}>{{ comment.user.username }}</span>) - 
		</div>
		<div class="commentcontent">
			{{  comment.content | embed_media }}
		</div>
		
		<div class="commenttime">
			{{ comment.get_time_string() }}
		</div>
	</div>
	<br>
	
{% endfor %}
</div>
{% endif %}

<script type="text/javascript">
function toggle(){
	var div = document.getElementById("addcomment");
	var button = document.getElementById("displayaddcomment")
	if(div.style.display == "none" || div.style.display.trim() == ""){
		div.style.display = "inline";
		button.value="Hide";
	}else{
		div.style.display = "none";
		button.value="Add a comment"
	}
}

// Emoji reaction AJAX handler
document.addEventListener('DOMContentLoaded', function() {
	document.querySelectorAll('.reaction-btn').forEach(function(btn) {
		btn.addEventListener('click', function() {
			var emoji = this.getAttribute('data-emoji');
			var postid = this.getAttribute('data-postid');
			fetch('/action_react', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: 'emoji=' + encodeURIComponent(emoji) + '&post_id=' + encodeURIComponent(postid)
			})
			.then(response => response.json())
			.then(data => {
				// Reload the page to update counts (simple approach)
				location.reload();
			});
		});
	});
});
</script>


{% endblock %}


